//Variable.scss

$base-color: #fff;
$primary-color: #10242b;
$secondary-color: #e9563d;
$three-color: #5c666a;
$four-color: #67b930;
$five-color: #3db8db;
$six-color: #64676a;
$family: 'Poppins', sans-serif;
$size: 14px;

//Media

//X-Large
@mixin x-large() {
    @media only screen and (max-width: 1400px) {
        @content;
    }
  }
  //Large
  @mixin large() {
    @media only screen and (max-width: 1200px) {
        @content;
    }
  }
  //Notebook
  @mixin notebook() {
    @media only screen and (max-width: 992px) {
        @content;
    }
  }
  //Tablet
  @mixin tablet() {
    @media only screen and (max-width: 768px) {
        @content;
    }
  }
  //X-Tablet
  @mixin x-tablet() {
    @media only screen and (max-width: 575px) {
        @content;
    }
  }
  //Mobil
  @mixin mobil() {
    @media only screen and (max-width: 480px) {
        @content;
    }
  }
  //Small
  @mixin small() {
    @media only screen and (max-width: 350px) {
        @content;
    }
  }
  //X-Small
  @mixin x-small() {
    @media only screen and (max-width: 250px) {
        @content;
    }
  }
  //X
  @mixin x() {
    @media only screen and (max-width: 190px) {
        @content;
    }
  }
  
  //Font-Weight
  @mixin weight($weight) {
    $weights: (
      thin: 100,
      extra-light: 200,
      ultra-light: 200,
      light: 300,
      normal: 400,
      book: 400,
      regular: 400,
      medium: 500,
      semi-bold: 600,
      demi-bold: 600,
      bold: 700,
      extra-bold: 800,
      ultra-bold: 900,
      heavy: 900,
      black: 900,
      ultra: 900,
      ultra-black: 900,
      extra-ultra: 900
    );
  
    $output: $weight;
    @if map-has-key($weights, $weight) {
      $output: map-get($weights, $weight);
    }
  
    font-weight: $output;
  
  }

//Align-İtems
.align-items {
  display: flex;
  align-items: center;
}

//İmg-Fluid
.img-fluid {
  max-width: 100%;
  height: auto;
}